#footer {
    display: flex;
    justify-content: center;
}

#footer > * > a {
    text-decoration: none;
    color: black;
}

#footer > * {
    background-color: #72C2C7;
    padding: 1rem;
    margin: 1rem;
    border-radius: 50%;
}
#footer > *:hover{
    cursor: pointer;
}

.footer-logo-container {
    margin: auto;
    
}

.material-symbols-outlined {
    font-size: 3rem !important;
}
.footer-img {
    width: 3rem;
    background-color: #72C2C7;
}
.footer-git-img {
    width: 3rem;
}