.experience {
    background-color: #72C2C7;
    width: 60%;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
}
.experience:hover {
    cursor: pointer;
    border-left: 1rem solid black;
    border-bottom: 1rem solid black;
    transition: border 0.3s;
}

.experience-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.experience-text > * {
    font-family: 'Montserrat', sans-serif;
    padding: 0.5rem 1rem;
}

.experience-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 auto;
}

.experience-img {
    border-radius: 50%;
    height: 8rem;
    margin: 0.25rem;
}